<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
    <style>
        table {
            border-style: dotted;
            border-width: 3px;
            border-color: blueviolet;
            background-color: aquamarine;
        }
        th {
            border: 2px solid red;
        }
        td {
            border: 1px groove navajowhite;
        }
    </style>
</head>
    <body>
        <h1>User list</h1>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                </tr>
                <tr th:each="user:${users}">
                    <td th:utext="${user.getName()}"></td>
                    <td th:utext="${user.getSurname()}"></td>
                    <td th:utext="${user.getAge()}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>